# Build files #
build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile


# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history